.f1 {
    -fx-font-size: 60px;
}

.f2 {
    -fx-font-size: 36px;
}

.f3 {
    -fx-font-size: 34px;
}

.f4 {
    -fx-font-size: 32px;
}

.f5 {
    -fx-font-size: 20px;
}

.f6 {
    -fx-font-size: 16px;
}

.f7 {
    -fx-font-size: 14px;
}

.f8 {
    -fx-font-size: 12px;
}

.b {
    -fx-font-weight: bold;
}